
body {
    text-align: center;
    font-family: Agency FB;
}

.my_photo {
    width: 10%;
}

.grey {
    color: rgb(87, 87, 87);
}

/* * Mazol Artem
* +37529828118
* I am real like to get new knowledge, work hard and communicate with other people. My goal is improve my programming skills and meet wonderful people.I study slower than other people, but i like what i do and because of that I do it well
* I just start my way (basic knowledge of HTML, CSS and JS)
* https://www.codewars.com/users/Artem-pixe
* Training with CodeWars and finished HTML and CSS courses on HTML academy
* Different Youtube courses
* A2 (pre intermediate English level) */